#header #logo{padding-bottom: 20px;}
#connect {width:500px;margin:auto;padding-top:100px;}
#connect fieldset{border-width: 15px;border-top-color: red;border-left-color: red;border-bottom-color: blue;border-right-color: blue;}
#loading p {text-align: center;font-size: 1.5em;color: red;}
#flash p {text-align: center;font-size: 1.5em;}
#log {height:450px;overflow-y: auto;background-color: #EEE;}
td.user {font-size: 1.2em;}
input#entry {border-style: solid;border-width: 1px;width: 90%;font-size: 1.2em;}
input#leave {color: white;background-color: red;border-color: red;font-size: 1.1em;}
